#cidadealta{
  height: 100vh;
}
.menuGame{
  display: flex;
  float:1;
  justify-content: center;
  align-items: center;
}
.wrapperGame{
  margin-top: 20px;
}
.wrapperArrayGame{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.wrapperTimer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}