.digitocontainer{
  margin: 1em;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #444;
  
}
.digitocontainer span{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
}
.inicial{
  border: 1px solid cornsilk;
}
.ok{
  border: 1px solid green;
}
.falha{
  border: 1px solid red;
}
.undefined{
  background-color:#111
}