.progress-bar{
  width: 250px;
  height: 50px;
  background-color: gray;
  border-radius: 8px;
}

span{
  display: block;
 background-color: green;
 height: 100%;
 border-radius: 8px;
 max-width: 100%;
}